
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Dashboard</h2>

<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading" style="background-color:black;color:white">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-question-circle fa-5x fa-spin"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">#</div>
                    <div style="font-size:25px">FAQ</div>
                </div>
            </div>
        </div>
        <a href="@Url.Action("Index", "FAQ")">
            <div class="panel-footer">
                <span class="pull-left">FAQ List</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-o-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading" style="background-color:#58D3F7;color:white">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-list-ol fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">#</div>
                    <div style="font-size:25px">FEEDBACK</div>
                </div>
            </div>
        </div>
        <a href="@Url.Action("Index", "FeedBack")">
            <div class="panel-footer">
                <span class="pull-left">FeedBack List</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-o-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading" style="background-color:black;color:white">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-list-ol fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">#</div>
                    <div style="font-size:25px">ATTENDENCE</div>
                </div>
            </div>
        </div>
        <a href="@Url.Action("Index", "Attendance")">
            <div class="panel-footer">
                <span class="pull-left">Attendence List</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-o-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading" style="background-color:black;color:white">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-list-ol fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">#</div>
                    <div style="font-size:25px">ATTENDENCE</div>
                </div>
            </div>
        </div>
        <a href="@Url.Action("Index", "Attendance")">
            <div class="panel-footer">
                <span class="pull-left">Attendence List</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-o-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

